[submodule "leonunesbsBlog-frontend"]
	path = frontend
	url = https://github.com/leonunesbs/leonunesbsBlog-frontend.git
[submodule "leonunesbsBlog-backend"]
	path = backend
	url = https://github.com/leonunesbs/leonunesbsBlog-backend.git
